.EntireBox {
   padding: 30px 20px; /* Reduce padding for smaller screens */
   margin: 0;
   display: flex;
   flex-direction: row; 
}

@media (max-width: 600px) {
   .EntireBox {
   flex-direction: column; 
      width: 300px;
      max-width: 350px;

   }
}
