.userProfileData {
    margin: 0;
    flex-grow: 1;
    padding: 0 15px;
  }
  
  .selectOneOptions {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 10px;
  }
  
  .selectOneOptions button {
    width: 150px;
    min-height: 55px;
    max-width: 160px;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 400;
    border: 1px solid #E0E0E0;
    background-color: transparent;
    flex-shrink: 0;
  }
  
  .selectOneOptions button.active {
    font-weight: 700;
    background-color: #E0E0E0;
  }
  
  /* Media Queries for Responsiveness */
  
  /* Tablets and smaller devices */
  @media (max-width: 768px) {
    .selectOneOptions {
      justify-content: center;
    }
    .selectOneOptions button {
      width: 130px;
      font-size: 1rem;
    }
  }
  
  /* Mobile devices */
  @media (max-width: 480px) {
    .selectOneOptions {
      justify-content: flex-start;
      padding-bottom: 10px;
    }
    .selectOneOptions button {
      width: 120px;
      font-size: 0.9rem;
    }
  }
  
