/* General Styles */
.userProfileDetailedTalentPool {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
}

.singleCategory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 55px;
  /* border: 1px solid #e0e0e0; */
  padding: 0 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #f7f7f7;
}

.categoryHeader {
  font-size: 1.2rem;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.arrowIcon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  color: black;
  cursor: pointer;
}

.categoryPrice {
  font-size: 17px;
  font-weight: 600;
}

.togglePool {
  padding: 20px;
}

.entirePoolActivities {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.poolSelectAndSend {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
}

.iconSize20 {
  width: 20px;
  height: 20px;

}
.select-icon{
  display: flex;
  align-items: center;
  justify-content: center;
}
.maskicon {
  width: 20px;
  height: 20px;
}
.memberProfilePreview1 {
  display: none;
  
}
.iconSize201 {
  width: 20px;
  height: 20px;
  color: #a8a8a8;
}

.poolSelectionInfo {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 7px;
}
.numberOfSelection{
  font-weight: 500;
}

/* .numberOfSelection {
  margin-right: 20px;
} */

.extraFunctions {
  display: flex;
  gap: 10px;
  border: 1px solid #a8a8a8 ;
  border-radius: 20px;
  padding: 13px 20px 13px 20px;
}


.poolMemberList {
  margin-top: 20px;
}

.members {
  padding: 10px;
  margin: 1px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: auto; */
}

.memberNameInfo {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  /* flex-grow: 1; */
  width: 150px;
}
.newmember{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* gap: 6px; */
}

.memberNameInfo {
  font-weight: bold;
  cursor: pointer;
}

.memberOtherInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  border: 1px solid #e0e0e0;
  padding: 13px;
  border-radius: 20px;
  width: 500px;
  /* margin-top: 10px; */
  /* flex-grow: 2; */
}

.memberSingleOtherInfo {
  border: 1px solid #e0e0e0;
  padding: 6px 8px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.poolMemberFunctions {
  display: flex;
  gap: 10px;
  margin-left: 20px;
}

.paymentFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f7f7f7;
  border-top: 1px solid #e0e0e0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.memberProfilePreview,
.wavingHand {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.unlockButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black;
  /* padding: 8px 12px; */
}

.unlockButton p {
  margin-right: 10px;
  font-size: 0.9rem;
}



.dropdownButton {
  display: none;
}
.newmember{
  display: flex;
}

@media (max-width: 600px) {
  .memberProfilePreview1{
    background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .memberProfilePreview{
    display: none;
  }
  .unlockButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: black;
    color: #fff;
    padding: 2px;
    justify-content: center;
    margin: 2px;
    border-radius: 15px;  
  }
  .paymentFooter p{
    width: 50%;
  }
  .memberOtherInfo {
    display: none;

  }
  .newmember{
    display: flex;
    flex-direction: column;
  }
  

  .expanded .memberOtherInfo {
    display: flex;
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;


  }
  .memberSingleOtherInfo{
    padding: 3px 4px;
    font-size: small;
  }
  

  .dropdownButton {
    display: flex;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
    
  }

  .memberInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .memberNameInfo {
    display: flex;
    justify-content: space-between;

    
  }
 

  .wavingHand1,.wavingHand {
    display: none;
  }
  .iconSize20 {
    order: 1;
    margin-right: 10px; /* Add margin for spacing */
  }

  .numberOfSelection {
    order: 2;
    margin-top: 10px; /* Add margin for spacing */
  }

  .extraFunctions {
    order: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-grow: 1; */
    
    padding: 6px 10px 6px 10px;
  }

  .poolSelectionInfo {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
  }
  
 
}
