.userProfileDetailedTalentPool {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    

}

.userProfileDetailedTalentPool .singleCateogory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 55px;
    border: 1px solid #E0E0E0;
    padding: 0 30px;
}

.userProfileDetailedTalentPool .singleCateogory .categoryInfo{
  font-size: 1.2rem;
  font-weight: 400;
}
.userProfileDetailedTalentPool .singleCateogory .viewProfileButton {
  align-self: flex-end;
  background-color: transparent;
  display: none;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
}

.userProfileDetailedTalentPool .togglePool {
    padding: 30px;
    border: 1px solid #E0E0E0;
} 

.userProfileDetailedTalentPool .togglePool .entirePoolActivies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
} 

.poolSelectAndSend {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .poolSelectionInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
  }

  .userProfileDetailedTalentPool .togglePool .entirePoolActivies .poolSelectAndSend div {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
  }
.userProfileDetailedTalentPool 
  .togglePool .entirePoolActivies .poolSelectionInfo .numberOfSelection {
    font-weight: 600;
  }

  .userProfileDetailedTalentPool .togglePool .entirePoolActivies .poolSelectionInfo .extraFunctions {
    border: 1px solid #E0E0E0;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px; 
    min-height: 50px;
    width: 100px;
    max-width: 100px;
  }

  .iconSize20 {
    width: 20px;
    height: 20px
  }



  .userProfileDetailedTalentPool .togglePool .poolMemberList {
    margin-top: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  .userProfileDetailedTalentPool .togglePool .poolMemberList .members {

    height: 55px;
    min-height: 55px;
    display: flex;
    gap: 15px;
    justify-content: space-between;

     

  }

  .userProfileDetailedTalentPool .togglePool .poolMemberList .members .memberInfo {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  
  .userProfileDetailedTalentPool .togglePool .poolMemberList .members .memberInfo .memberNameInfo{
    
    width: 230px;
    max-width: 230px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #E0E0E0;
    font-weight: 600;

  }

  .userProfileDetailedTalentPool .togglePool .poolMemberList .members .memberInfo .memberOtherInfo{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-radius: 20px;
    border: 1px solid #E0E0E0;
    width: 615px;
    max-width: 615px;
    gap: 10px;
    padding: 0 20px;
  }

  .userProfileDetailedTalentPool .togglePool .poolMemberList .members .memberInfo .memberOtherInfo .memberSingleOtherInfo {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 10px;
    border: 1px solid #E0E0E0;
    width: 90px;
    max-width: 90px;
    height: 30px;
    min-height: 30px;
  }



    
  .userProfileDetailedTalentPool .togglePool .poolMemberList .members .poolMemberFunctions{

    display: flex;
    flex-direction: row;
    gap: 15px;

  }

  

  .userProfileDetailedTalentPool .togglePool .poolMemberList .members .poolMemberFunctions div {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 10px;
    border: 1px solid #E0E0E0;
    width: 55px;
    max-width: 55px;
    cursor: pointer;

  }


  .userProfileDetailedTalentPool .paymentFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius:20px; border-bottom-right-radius:20px;
    min-height: 55px;
    border: 1px solid #E0E0E0;
    padding: 0 30px;
    background-color: #F7F7F7;
    font-size: 20px;

}

.paymentFooter .unlockButton {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}



@media (max-width: 600px) {
  .userProfileDetailedTalentPool .singleCateogory {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    padding: 20px;
    border-radius: 20px;
    border: 1px solid #E0E0E0;
    height: 250px;
    margin: 0 auto;

  }

  .userProfileDetailedTalentPool .singleCateogory .categoryInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: 600;
    gap: 15px;
  }
  .userProfileDetailedTalentPool .singleCateogory .categoryInfo .theExtraBar{
    display: none;
  }


  .userProfileDetailedTalentPool .singleCateogory .categoryInfo .categoryName {
    font-size: 22px;
    font-weight: 600;
    align-self: flex-start;
  }

  .userProfileDetailedTalentPool .singleCateogory .categoryInfo .categoryNumber {
    font-size: 1rem;
    font-weight: 400;
    align-self: flex-start;
    color: #505050;
  }


  .userProfileDetailedTalentPool .singleCateogory .bottomCategoryInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    width: 100%;
  }

  /* .userProfileDetailedTalentPool .singleCateogory .categoryPrice {
    font-size: 0.9rem;
    font-weight: 600;
    align-self: flex-start;
  } */

  .userProfileDetailedTalentPool .singleCateogory .viewProfileButton {

    display: block;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid #E0E0E0;
    border-radius: 40px;
    background-color: #F7F7F7;
    padding: 15px 20px;

  }












  
}




  
