.userProfileDetailedTalentPool {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;;
  

}

.userProfileDetailedTalentPool .singleCategory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 55px;
  border: 1px solid #E0E0E0;
  padding: 0 30px;
}

.userProfileDetailedTalentPool .singleCategory .categoryHeader {
  display: flex;
  align-items: center;
  gap: 15px;

}

.userProfileDetailedTalentPool .singleCategory .categoryInfo{
font-size: 1.2rem;
font-weight: 400;
}
.userProfileDetailedTalentPool .singleCategory .viewProfileButton {
align-self: flex-end;
background-color: transparent;
display: none;
border: none;
cursor: pointer;
font-size: 0.9rem;
font-weight: 600;
}

.userProfileDetailedTalentPool .togglePool {
  padding: 30px;
  border: 1px solid #E0E0E0;
} 

.userProfileDetailedTalentPool .togglePool .entirePoolActivities {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
} 

.poolSelectAndSend {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.poolSelectionInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: end;
}

.userProfileDetailedTalentPool .togglePool .entirePoolActivities .poolSelectAndSend div {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.userProfileDetailedTalentPool 
.togglePool .entirePoolActivities .poolSelectionInfo .numberOfSelection {
  font-weight: 600;
}

.userProfileDetailedTalentPool .togglePool .entirePoolActivities .poolSelectionInfo .extraFunctions {
  border: 1px solid #E0E0E0;
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px; 
  min-height: 50px;
  width: 100px;
  max-width: 100px;
}

.iconSize20 {
  width: 20px;
  height: 20px
}



.userProfileDetailedTalentPool .togglePool .poolMemberList {
  margin-top: 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.userProfileDetailedTalentPool .togglePool .poolMemberList .members {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.userProfileDetailedTalentPool .togglePool .poolMemberList .members .memberInfo {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}


.userProfileDetailedTalentPool .togglePool .poolMemberList .members .memberInfo .memberNameInfo{
  
  /* max-width: 230px;    */
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap : 15px;
  border-radius: 20px;
  border: 1px solid #E0E0E0;
  font-weight: 600;
  padding: 5px 15px;

  height: 55px;
  /* min-height: 55px; */

}

.userProfileDetailedTalentPool .togglePool .poolMemberList .members .memberInfo .memberOtherInfo{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-radius: 20px;
  border: 1px solid #E0E0E0;
  /* width: 615px;
  max-width: 615px; */
  gap: 10px;
  padding: 0 20px;

  height: 55px;
  min-height: 55px;
}

.userProfileDetailedTalentPool .togglePool .poolMemberList .members .memberInfo .memberOtherInfo .memberSingleOtherInfo {

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  
  border-radius: 10px;
  border: 1px solid #E0E0E0;
  height: 30px;
  min-height: 30px;
  padding: 0 10px;
  
}



  
.userProfileDetailedTalentPool .togglePool .poolMemberList .members .poolMemberFunctions{

  display: flex;
  flex-direction: row;
  gap: 15px;

  height: 55px;
  min-height: 55px;

}



.userProfileDetailedTalentPool .togglePool .poolMemberList .members .poolMemberFunctions .memberProfilePreview {

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  border-radius: 10px;
  border: 1px solid #E0E0E0;
  width: 55px;
  /* max-width: 55px; */
  cursor: pointer;

}

.userProfileDetailedTalentPool .togglePool .poolMemberList .members .poolMemberFunctions .wavingHand {

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  border-radius: 10px;
  border: 1px solid #E0E0E0;
  width: 55px;
  /* max-width: 55px; */
  cursor: pointer;

}



.userProfileDetailedTalentPool .paymentFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius:20px; border-bottom-right-radius:20px;
  min-height: 55px;
  border: 1px solid #E0E0E0;
  padding: 0 30px;
  background-color: #F7F7F7;
  font-size: 20px;

}

.paymentFooter .unlockButton {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}


.image-container {
  position: relative;
  width: 50px;
  height: 50px;
}

.image-container .image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  filter: blur(2px);
  transition: opacity 0.3s;
}

.image-container .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-container:hover .image {
opacity: 0;
}

.image-container:hover .icon {
opacity: 1;
}

.image-container .select-icon {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  scale: 0.8;
}



.dropdownButton {
  display: none;
}
.newmember{ 
  display: flex;
}

@media (max-width: 600px) {


  .memberProfilePreview1 {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  }



  .unlockButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: black;
    color: #fff;
    padding: 2px;
    justify-content: center;
    margin: 2px;
    border-radius: 15px;  
  }

  .paymentFooter p{
    width: 50%;
  }



  .userProfileDetailedTalentPool .togglePool .poolMemberList .members .memberInfo .memberOtherInfo {
    display: none;
  }

  .userProfileDetailedTalentPool .togglePool .poolMemberList .expanded .memberInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .userProfileDetailedTalentPool .togglePool .poolMemberList .expanded .memberInfo .memberNameInfo {
    flex: 0 0 50px ; /* Prevents from growing */
    

    margin-bottom: 10px;
    height: 70px; /* Example height, adjust as needed */
  }
  

  
  .userProfileDetailedTalentPool .togglePool .poolMemberList .expanded .memberInfo .memberOtherInfo {
    order: 2; /* Moves memberOtherInfo below memberNameInfo */
    width: 100%;
    border-color: red;
    display: flex;
    margin-top: 10px;
    border-radius: 10px;
  }
  
  
 


  
  

  
  
/*   
  .userProfileDetailedTalentPool .togglePool .poolMemberList .members.expanded .memberInfo {
    background-color: pink;
  }
  
  .expanded .memberInfo .memberNameInfo {
    width: fit-content;
    background-color: yellow;
  } */


  .userProfileDetailedTalentPool .togglePool .poolMemberList .members .poolMemberFunctions {
    height: 70px;
  }



  .userProfileDetailedTalentPool .togglePool .poolMemberList .members .poolMemberFunctions .memberProfilePreview {
    height: 70px;
    width: 70px;
  }

  .userProfileDetailedTalentPool .togglePool .poolMemberList .members .poolMemberFunctions .wavingHand {
    height: 70px;
    width: 70px;
  }
  
  

  /* .expanded .memberInfo .memberOtherInfo {
    display: flex;
    margin-top: 10px;
    border-radius: 10px;
    width: fit-content;
  } */

  /* .memberSingleOtherInfo{
    padding: 3px 4px;
    font-size: small;
  } */
  
  .dropdownButton {
    display: flex;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

.iconSize20 {
  height: 24px;
  width: 24px;
}

.userProfileDetailedTalentPool .singleCategory  .theExtraBar,
.userProfileDetailedTalentPool .singleCategory  .categoryNumber,
.userProfileDetailedTalentPool .singleCategory .categoryPrice {
  display: none;
} 


.userProfileDetailedTalentPool .singleCategory .categoryInfo{
  font-weight: 600;
  font-size: 22px;
  }

}
