/* Desktop view */
.userProfileTalentPool {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.userProfileTalentPool .singleCateogory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 55px;
  border: 1px solid #E0E0E0;
  padding: 0 30px;
  border-radius: 20px;
}

.userProfileTalentPool .singleCateogory .categoryInfo {
  font-size: 1.2rem;
  font-weight: 400;
}

.userProfileTalentPool .singleCateogory .viewProfileButton {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
}

/* Hide the mobile view on desktop */
.userProfileTalentPoolMobile {
  display: none;
}

/* Mobile view */
@media screen and (max-width: 768px) {
  /* Hide the desktop view on mobile */
  .userProfileTalentPool {
    display: none;
  }

  .userProfileTalentPoolMobile {
    display: flex;
    flex-direction: column;
    gap: 10px;

  }

  .profile-mob {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  .user-icon {
    font-size: 40px;
    color: #000;
  }

  .userProfiles-relative {
    display: flex;
    gap: 5px;
  }

  .userProfiles-relative img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
  }

  .person1-logo {
    position: relative;
    z-index: 3;
  }

  .person2-logo {
    position: relative;
    z-index: 2;
    margin-left: -20px;
  }

  .person3-logo {
    position: relative;
    z-index: 1;
    margin-left: -20px;
  }
  .profile-name{
    display: flex;
    column-gap: 3px;
    justify-content: center;
    align-items: center;
    
  }

  .singleCategoryMobile {
    border: 1px solid #E0E0E0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }

  .singleCategoryMobile .categoryHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;
    height: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .singleCategoryMobile .categoryDetails {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 10px;
  }

  .singleCategoryMobile .categoryName {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .singleCategoryMobile .userProfiles {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    background-color: #F7F7F7;
    position: relative;
  }

  .singleCategoryMobile .iconSize20 {
    width: 20px;
    height: 20px;
  }

  .singleCategoryMobile .categoryFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
  }

  .viewTalentPoolButton {
    background-color: #000;
    color: #fff;
    border: none;
    /* padding: 5px 10px; */
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px;
    width: auto;
  }

  .categoryPrice {
    font-weight: 500;
  }
}
